<div style="display: flex">
  <div class="panel_lista">
    <h2>Lista de Heroes Registrados:</h2>


    <ul class="heroes">

      <li *ngFor="let hero of heroes">
        <button type="button" (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span>
          <span class="name">{{hero.name}}</span>
        </button>
      </li>
    </ul>
  </div>


  <div class="panel_tabla" *ngIf="selectedHero">
    <table class="tabla">
      <tr>
        <td rowspan="3">
          <img class="responsive_image" src={{selectedHero.imagen}}>
        </td>

        <td>
          <div>
            <span class="name">Nombre: <br><br>{{selectedHero.name | uppercase}}</span> <br><br><br>
            <span class="history">Historia: <br><br>{{selectedHero.history}}</span><br><br><br>
            <span class="powers">{{selectedHero.poderes}}</span>

          </div>
        </td>
      </tr>

    </table>
    <button type="button" style="float: right;">
      EDITAR
      <span class="editar">

      </span>
    </button><br><br><br><br>
    <div class="panel_update"><br><br><br><br>
      <label for="hero-name">Editar: </label>
      <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>


  </div>
</div>